/*
really custom
*/
.profile > .profile_inner > h1 {
    font-size: 3.75em;
}

.profile > .profile_inner p {
    font-size: 1.5em;
}

/*
TODO:
- aumentar o tamanho geral da fonte
- tentar mudar o a fonte para Kanit(?)
*/

/*
https://ericnormand.me/import/Solarized-Cheat-Sheet.png
// The solarized palette

$base03 =  #002b36
$base02 =  #073642
$base01 =  #586e75
$base00 =  #657b83
$base0 =   #839496
$base1 =   #93a1a1
$base2 =   #eee8d5
$base3 =   #fdf6e3

$yellow =  #b58900 
$orange =  #cb4b16 
$red =     #dc322f 
$magenta = #d33682 
$violet =  #6c71c4 
$blue =    #268bd2 
$cyan =    #2aa198 
$green =   #859900 

if $solarized is dark
  $fg =      $base0
  $bg =      $base03
  $hl =      $base02
  $emph =    $base1
  $comment = $base01
else
  $fg =      $base00
  $bg =      $base3
  $hl =      $base2
  $emph =    $base01
  $comment = $base1

*/



/************************************************
from theme-vars.css
************************************************/
:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    /* --theme: rgb(255, 255, 255); */
    --theme: #fdf6e3;
    /* --entry: rgb(255, 255, 255); */
    --entry: #eee8d5;
    /* --primary: rgb(30, 30, 30); */
    --primary: #073642;
    /* --secondary: rgb(108, 108, 108); */
    --secondary: #586e75;
    /* --tertiary: rgb(214, 214, 214); */
    --tertiary: #93a1a1;
    /* --content: rgb(31, 31, 31); */
    --content: #172c66;
    /* --hljs-bg: rgb(28, 29, 33); */
    --hljs-bg: rgb(46, 46, 51);
    --code-bg: #eee8d5;
    --border: rgb(238, 238, 238);
}

.dark {
    /* --theme: rgb(29, 30, 32); */
    --theme: #002b36;
    /* --entry: rgb(46, 46, 51); */
    --entry: #073642;
    /* --primary: rgb(218, 218, 219); */
    /* --primary: #93a1a1; */
    --primary: #eee8d5;
    /* --secondary: rgb(155, 156, 157); */
    --secondary: #839496;
    /* --tertiary: rgb(65, 66, 68); */
    --tertiary: var(--entry);
    /* --content: rgb(196, 196, 197); */
    --content: #93a1a1;
    --hljs-bg: rgb(46, 46, 51);
    --code-bg: rgb(55, 56, 62);
    /* --border: rgb(51, 51, 51); */
    --border: #93a1a1;
}

.list {
    background: var(--code-bg);
}

.dark.list {
    background: var(--theme);
}



/************************************************
from post-single.css
************************************************/
.toc {
    background: var(--entry);
}

.post-tags a,
.share-buttons,
.paginav {
    background: var(--entry);
}

/************************************************
from profile-mode.css
************************************************/
.profile img {
    border-radius: 5%;
}

/************************************************
from footer.css
************************************************/
.footer,
.top-link {
    color: var(--secondary);
}
